@{
    ViewBag.Title = "Cadastre-se";
}

<div class="row">
    <div class="col-md-12">
        <h2>Cadastro</h2>
        <p>
            Preencha os campos abaixo e cadastre-se para acessar o painel de administração.
        </p>
    </div>
</div>